.Buttoninfo {
  border-radius: 5px;
  border: none;
  font-size: xx-large;
  color: white;
  background-color: none;
  background: none;
}
.headerComprar{
display: flex;
justify-content: center;
}
.IMGCOMPRAR{
height:350px ;
width:250px ;
margin-bottom: 3em;
}
.H1Comprar{
text-align: center;
color: white;
font-weight: lighter;
text-transform: uppercase;
}
.pComprar1{
text-align: center;
color: white;
font-size: x-large;
padding-left: 0.5em;
padding-right: 0.5em;
}
.pComprar2{

color: white;
background-color: red;
border: none;
font-size: xx-large;
}
.pComprar3{
  align-items: center;
text-align: center;
color: white;
font-size: x-large;
margin-bottom: 1em;
}