.Header2 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .Buttoninfo {
      border-radius: 5px;
      border: none;
      font-size: xx-large;
      color: white;
      background-color: red;
      background: none;
      margin: 0;
  }
  .CenterButton{
    display: flex;
    justify-content: center;
  }
  .H1info {
    font-size: 50px;
    color: white;
    text-transform: uppercase;
  }
  .parrafo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 4em;
  }
  .Pinfo {
    color: white;
    font-size: x-large;
    margin: 0;
  }
  