.Header23 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .Buttoninfo3 {
    border-radius: 5px;
    border: none;
    font-size: xx-large;
    color: white;
    background-color: none;
    background: none;
  }
  .H1info3 {
    font-size: 50px;
    color: white;
    text-transform: uppercase;
  }
  .parrafo3 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 4em;
  }
  .Pinfo3 {
    color: white;
    font-size: x-large;
    margin: 0;
  }
  