.PascalSearch {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;
    font-size: large;
}

input {
    width: 250px;
    height: 25px;
    border-radius: 5px;
    border: none;
    font-size: large;
    align-items: center;
    padding-bottom: 0.5%;
    text-indent: 3%;
}

input::placeholder {
    color: rgb(0, 0, 0);
    font-size: small;
    align-items: center;
    border: none;
}

@media only screen and (max-width: 600px) {
    .PascalSearch {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: none;
        font-size: large;
    }
    
    input {
        width: 200px;
        height: 25px;
        border-radius: 5px;
        border: none;
        font-size: large;
        align-items: center;
        padding-bottom: 0.5%;
        text-indent: 3%;
    }
    
    input::placeholder {
        color: rgb(0, 0, 0);
        font-size: small;
        align-items: center;
        border: none;
    }
  }