.messageDiv {
background-image:url(../../public/Images/Navidad.jpg);
background-size: cover;
position: absolute;
z-index: 1;
display: flex;
justify-content: center;
align-items: center;
align-items: center;
width: 100%;
height: auto;
flex-wrap: wrap;
}

.pmessage {
    padding: 1em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0;
    color: white;
}

.closeButton {
    background: none;
    border: none;
    margin: 0;
    font-size: x-large;
    color: white;
}
